{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "htmlacademy/es5",
  "ignorePatterns": ["js/picturefill.min.js", "js/svg4everybody.js"],
  "rules": {
    // Additional rules...
  }
}
