.about-us {
  padding: 15px 0;
  font-family: $font-secondary;
}

.about-us__title {
  margin-bottom: 30px;
  font-size: $font-size--big;
}

.about-us__wrapper {
  @mixin container;
}

.about-us__advantage {
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;


    &--flower {
      background: url(../img/icon-feature-1.svg) no-repeat;
    }
    &--money {
      background: url(../img/icon-feature-3.svg) no-repeat;
    }
    &--heart {
      background: url(../img/icon-feature-5.svg) no-repeat;
    }
    &--roll {
      background: url(../img/icon-feature-2.svg) no-repeat;
    }
    &--rocket {
      background: url(../img/icon-feature-4.svg) no-repeat;
    }
    &--gift {
      background: url(../img/icon-feature-6.svg) no-repeat;
    }
}

@media (--tablet-widths) {
  .about-us {
    padding-top: 20px;
  }
  .about-us__list {
    display: flex;
  }
  .about-us__inner {
    width: 350px;
  }
  .about-us__title {
    margin-bottom: 50px;
    font-size: $tablet-font-size--big;
  }
  .about-us__advantage {
    min-height: 100px;
    padding-right: 15px;
    font-size: 20px;
  }
}

@media (--desktop-widths) {
  .about-us {
    padding-top: 30px;
  }
  .about-us__wrapper {
    padding-left: 175px;
    box-sizing: border-box;
  }
  .about-us__title {
    margin-bottom: 50px;
    font-size: $desktop-font-size--big;
  }
}
