.btn {
  display: block;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 15px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: $color-gray;
  text-transform: uppercase;

  text-decoration: none;

  border: 2px solid $color-gray;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;

    background: $color-gray;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
