.catalog {
  padding-bottom: 45px;
}

.catalog__inner {
  background-color: $color-gray--light;
}
.catalog__wrapper {
  @mixin container;
}

.catalog__title {
  padding: 75px 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: $font-size--big;
  font-family: $font-secondary;
}
.catalog-item {
  margin: 30px 0;
  border: 1px solid $color-gray--light;
}

.catalog-item__wrapper {
  padding: 0 30px;
}

.catalog-item__image img {
  width: 100%;
  padding: 0;
}

.catalog-item__name {
  font-size: 16px;
  font-family: $font-secondary;
  font-weight: bold;
}

.catalog-item__specification {
  color: $color-gray;
}

.catalog-item__buy-btn {
  display: block;
  width: 100%;
  padding: 25px 0;
  text-align: left;
  font-family: $font-secondary;
  font-weight: bold;
  background: url(../img/icon-cart.svg) 100% 50% no-repeat;
  border: none;
  border-top: 1px solid $color-gray--light;
  cursor: pointer;
}

.video {
  margin: 15px 0;
  border: 1px solid $color-gray--light;
}

.video__inner {
  padding-bottom: 15px;
}

.video__title {
  margin: 25px 0;
  padding-left: 55px;
  font-size: 16px;
  font-family: $font-secondary;
  font-weight: bold;
  background: url(../img/icon-video.svg) 0 50% no-repeat;
}

.video__wrapper {
  padding: 0 35px;
}

.video img {
  width: 100%;
  padding: 0;
}

.video__description {
  margin: 15px 0;
  font-size: ;
  color: $color-gray;
}

@media (--tablet-widths) {
  .catalog {
    padding-bottom: 50px;
  }
  .catalog__title {
    margin-bottom: 80px;
    font-size: $tablet-font-size--big;
  }
  .catalog-item {
    display: flex;
    margin: 55px 0;
    height: 334px;
  }
  .catalog__inner {
    background: $color-gray--light url(../img/bg-wave.svg) 0 100% repeat-x;
  }
  .catalog-item__image {
    width: 334px;
    background: #444;
    flex-shrink: 0;
  }
  .catalog-item__image img {
    display: none;
  }
  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
  .catalog-item__name {
    font-size: 18px;
  }
  .catalog-item__buy-btn {
    margin-top: auto;
  }
  .video__inner {
    display: flex;
    flex-direction: column;
  }
  .video__title {
    margin: 25px 0;
    padding-left: 65px;
    font-size: 18px;
  }
  .video__description {
    line-height: $line-height--big;
  }
  .video__img {
    order: -1;
    min-height: 455px;
    background: #444;
  }
  .video__img img {
    display: none;
  }
  .video__order-btn {
    margin: 40px 0;
  }
}

@media (--desktop-widths) {
  .catalog {
    padding-bottom: 70px;
  }
  .catalog__title {
    font-size: $desktop-font-size--big;
    margin-bottom: 100px;
  }
  .catalog__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog-item {
    width: 316px;
    height: 658px;
    margin: 30px 0;
    flex-direction: column;
  }
  .catalog-item__image {
    min-height: 462px;
    width: auto;
  }
  .catalog-item__wrapper {
    height: 197px;
  }
  .video {
    margin: 30px 0;
    position: relative;
    min-height: 455px;
    padding-left: 658px;
  }
  .video__inner {
    margin-left: 60px;
    margin-right: 20px;
    padding: 0;
    padding-top: 20px;
  }
  .video__title {
    padding-left: 0;
    padding-top: 50px;
    width: 90%;
    background-position: 0 0;
  }
  .video__img {
    position: absolute;
    width: 685px;
    top: 0;
    left: 0;
  }
}
