.contacts {
  padding: 20px 0;
  background: url(../img/bg-zigzag-line.svg) 0 0 repeat-x;
  background-size: 300px;
}

.contacts__wrapper {
  @mixin container;
}

.contacts__title {
  font-size: $font-size--big;
  font-family: $font-secondary;
}

.contacts dl {
  color: $color-gray;
  font-size: ;
  line-height: $line-height--big;
}

.contacts dt {
  display: inline-block;
  width: 70px;
  vertical-align: top;
}

.contacts dd {
  display: inline-block;
  margin: 0;
}
.contacts__map {
  min-height: 457px;
  text-align: center;
}
.contacts__map img {
  padding: 0;
}

@media (--tablet-widths) {
  .contacts {
    padding-top: 30px;
    padding-bottom: 40px;
    background-size: 800px;
  }
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
  }
  .contacts__title {
    margin: 0;
    padding: 30px 0;
    background: url(../img/icon-flag.svg) 100% 50% no-repeat;
    font-size: $tablet-font-size--big;
  }
  .contacts__inner {
    display: flex;
  }
  .contacts dl {
    display: flex;
    width: 50%;
  }
  .contacts__map {
    margin: 40px 0;
  }
  .contacts__feedback-btn {
    align-self: center;
    width: 230px;
  }
}

@media (--desktop-widths) {
  .contacts {
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    min-height: 457px;
    background-size: 1200px;
  }
  .contacts__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 175px;
    width: 1050px;
  }
  .contacts__title {
    position: relative;
    background: none;
    font-size: $desktop-font-size--big;

    &::before {
      position: absolute;
      left: -110px;
      width: 47px;
      height: 81px;
      background: url(../img/icon-flag.svg);
      content: "";
    }
  }
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    margin-right: 50px;
    width: 525px;
    height: 457px;
  }
  .contacts__feedback-btn {
    align-self: flex-start;
    margin-top: 103px;
    width: 230px;
  }
}
