.contacts {
  padding: 20px 0;
}

.contacts__wrapper {
  width: $screen-mobile;
  margin: 0 auto;
}
.contacts__title {
  font-family: $font-secondary;
}

.contacts dl {
  font-size: $font-size--small;
  color: $gray;
  line-height: 30px;
}

.contacts__map {
  text-align: center;
}
