.contacts {
  padding: 20px 0;
}

.contacts__wrapper {
  @mixin container;
}

.contacts__title {
  font-family: $font-secondary;
  font-size: $font-size--big;
}

.contacts dl {
  font-size: ;
  color: $color-gray;
  line-height: $line-height--big;
}

.contacts dt {
  display: inline-block;
  width: 70px;
  vertical-align: top;
}

.contacts dd {
  display: inline-block;
  margin: 0;
}
.contacts__map {
  min-height: 457px;
  background: url(../img/map-mobile@1x.jpg) 50% no-repeat;
}

@media (--tablet-widths) {
  .contacts {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
  }
  .contacts__title {
    margin: 0;
    padding: 30px 0;
    font-size: $tablet-font-size--big;
    background: url(../img/icon-flag.svg) 100% 50% no-repeat;
  }
  .contacts__inner {
    display: flex;
  }
  .contacts dl {
    display: flex;
    width: 50%;
  }
  .contacts__map {
    margin: 40px 0;
    background: url(../img/map@1x.jpg) 50% no-repeat;
  }
  .contacts__feedback-btn {
    width: 230px;
    align-self: center;
  }
}

@media (--desktop-widths) {
  .contacts {
    position: relative;
    min-height: 457px;
    width: 1050px;
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 90px;
  }
  .contacts__wrapper {
    width: auto;
    box-sizing: border-box;
    padding-left: 175px;
  }
  .contacts__title {
    font-size: $desktop-font-size--big;
    background: none;

    &:before {
      content: "";
      width: 47px;
      height: 81px;
      position: absolute;
      left: 60px;
      background: url(../img/icon-flag.svg);
    }
  }
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    height: 457px;
  }
  .contacts__feedback-btn {
    width: 230px;
    margin-top: 103px;
    align-self: flex-start;
  }
}
