.featured-product {
  padding: 20px 0;
  font-family: $font-secondary;
  font-size: $font-size--small;
  color: $color-gray;
  border-bottom: 1px solid $color-gray--light;
}

.featured-product__wrapper {
  min-width: $screen-mobile;
  max-width: $screen-mobile;
  margin: 0 auto;
}

.featured-product__title {
  margin-bottom: 10px;
  font-family: $font-secondary;
}

.featured-product__title a {
  font-size: $font-size--big;
  color: #000;
  text-decoration: none;
}

.featured-product__mark {
  font-family: $font-main;
  font-size: 16px;
  font-weight: bold;
  color: $color-main;
  text-transform: uppercase;
}

.featured-product__description-wrapper {
  border-bottom: 1px solid $color-gray--light;
}

.featured-product__description dt {
  display: inline-block;
  width: 100px;
}

.featured-product__description dd {
  display: inline-block;
  margin: 0;
}

.featured-product p {
  line-height: $line-height;
}

.featured-product dl {
  line-height: $line-height--big;
}
.featured-product img {
  padding: 15px 0;
}

.featured-product__price {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .featured-product__wrapper {
    max-width: $screen-tablet;
  }
  .featured-product__header {
    display: flex;
    align-items: center;
  }
  .featured-product__content {
    display: flex;
    justify-content: space-between;;
  }
  .featured-product__title {
    flex-grow: 1;
  }
  .featured-product__mark {
    width: 120px;
    text-align: center;
  }
  .featured-product__inner {
    width: 292px;
    min-height: 404px;
  }
  .featured-product p {
    margin-top: 0;
  }
  .featured-product img {
    display: none;
  }
  .featured-product__inner--img-bg {
    width: 335px;
    background: url(../img/triple-set@2x.jpg) no-repeat;
  }
}

@media (min-width: 1150px) {
  .featured-product {
    margin-top: 70px;
  }
  .featured-product__wrapper {
    max-width: $screen-desktop;
    background: url(../img/triple-set@3x.jpg) 100% no-repeat;
    min-height: 635px;
  }
  .featured-product__content {
    display: flex;
    flex-direction: row;
  }
  .featured-product__mark {
    margin-right: 55px;
    order: -1;
  }
  .featured-product__inner {
    margin-left: 175px;
    box-sizing: border-box;
  }
  .featured-product__inner--img-bg {
    background: none;
  }
}
