.logo-simple__svg {
  display: block;
  width: 102px;
  height: 34px;
}

.logo-simple__link[href] {
  display: block;
}

.logo-simple__link[href] .logo-simple__svg {
  &:hover {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;
  }
}
