.main-nav__menu {
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  img {
    padding: 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item {
  display: block;
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 30px;

  font-weight: bold;
  font-size: 16px;
  font-family: $font-secondary;
  color: #000000;
  text-decoration: none;

  border-bottom: 1px solid #ececec;

  &--logo {
    order: -1;
    padding: 20px 0;
  }

  &--search,
  &--basket {
    display: flex;

    svg {
      margin-left: 30px;
      padding-right: 25px;

      fill: #d3d2d2;
    }

    &:hover svg {
      fill: $color-main;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--new,
  &--sale {
    display: none;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  width: 80px;
  height: 80px;
  overflow: hidden;

  text-indent: 200%;

  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background: url(../img/icon-menu-open.svg) 50% no-repeat;
}

.main-nav--opened .main-nav__toggle {
  background: url(../img/icon-menu-close.svg) 50% no-repeat;
}

@media (--mobile-widths-only) {
  .main-nav {
    position: relative;

    width: 320px;
    margin: 0 auto;
  }

  .main-nav__item {
    padding-left: 75px;

    text-align: left;

    &--logo {
      padding-left: 0;

      text-align: center;
    }

    &--search,
    &--basket {
      padding-left: 0;
    }
  }

  .main-nav__shipping {
    display: none;
  }

  .main-nav--closed .main-nav__item {
    display: none;

    &--logo {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (--tablet-widths) {
  .main-nav {
    border-bottom: 1px solid #dfdfdf;
  }

  .main-nav__wrapper {
    @mixin container;

    position: relative;
  }

  .main-nav__menu {
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    height: 85px;
  }

  .main-nav__item {
    z-index: 1;

    padding-top: 30px;
    padding-bottom: 35px;

    border: none;

    &--logo {
      display: flex;
      align-items: center;
      margin-right: auto;
      padding: 0;
      padding-top: 10px;
    }

    img {
      width: 113px;
      height: 46px;
    }

    &--catalog,
    &--order {
      padding: 25px 20px;

      font-size: $font-size--small;
    }

    &--catalog {
      order: 1;
      padding-left: 0;
    }

    &--order {
      order: 2;
    }

    &--search {
      display: block;
      width: 85px;
      padding: 0;
      overflow: hidden;

      white-space: nowrap;

      border-left: 1px solid #ececec;

      svg {
        margin-right: 20px;
        margin-left: 0;
        padding: 35px;
        padding-bottom: 30px;
      }
    }

    &--basket {
      display: flex;
      padding-top: 35px;
      padding-bottom: 30px;

      border-left: 1px solid #ececec;
    }
  }

  .main-nav__logo {
    min-width: 300px;

    a {
      text-align: left;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__footer {
    display: flex;
    align-items: baseline;
    width: 100%;

    font-size: 14px;

    .main-nav__item {
      font-size: 14px;

      border: 0;

      &--new,
      &--sale {
        display: none;
      }
    }
  }

  .main-nav__shipping {
    z-index: 1;

    order: 3;
    margin-left: auto;
    padding-top: 10px;

    font-size: $font-size--small;
    font-family: $font-secondary;
    color: $color-gray;
  }
}

@media (--desktop-widths) {
  .main-nav__menu {
    min-height: 89px;
  }

  .main-nav__item {
    padding: 35px;

    &--catalog,
    &--order {
      order: 0;

      font-size: 16px;
    }

    &--logo {
      flex-grow: 1;
      order: 0;
      margin-right: 65px;
      padding: 0;
    }

    &--search {
      margin: 0;
      padding: 0;

      svg {
        padding: 35px;
        padding-bottom: 30px;
      }
    }

    &--basket {
      padding-right: 0;
      padding-left: 0;
    }

    &--new,
    &--sale {
      display: block;
      padding: 25px 30px;

      font-size: $font-size--small;
    }

    &--new {
      padding-left: 0;
    }

    &:first-child {
      padding-left: 0;

      border-right: 1px solid #ececec;
    }
  }

  .main-nav__logo {
    min-width: auto;

    img {
      width: 149px;
      height: 72px;
      padding-left: 30px;
    }
  }
}
