.order-form {
  padding-bottom: 65px;
}

.order-form__description {
  font-size: $font-size--small;
  line-height: $line-height;
  color: $color-gray;
}

.order-form__inner {
  background-color: $color-gray--light;
}

.order-form__wrapper {
  min-width: $screen-mobile;
  max-width: $screen-mobile;
  margin: 0 auto;
}

.order-form__title {
  padding: 75px 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: $font-secondary;
}

.order-form__selection {
  margin: 30px 0;
}

.order-form__selection-title {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-main;
}
.order-form__selection-inner {
  margin-top: 20px;
}

.order-form__selection label {
  display: inline-block;
  margin-top: 10px;
  font-family: $font-secondary;
  font-weight: bold;
}

.selection-area {
  margin-right: 20px;
}

.selection-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid #000;

  &--fully {
    box-sizing: border-box;
    margin-top: 25px;
    padding: 15px;
    border: 2px solid #000;
  }
}

.order-form__btn {
  width: 100%;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
}

.order-form__notice {
  float: right;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .order-form__notice {
    display: none;
  }
}

@media (min-width: 768px) {
  .order-form__wrapper {
    max-width: $screen-tablet;
  }
  .order-form__selection {
    display: flex;
  }
  .order-form__selection-inner {
    flex-grow: 1;
    margin-top: 0;
  }
  .selection-field--fully {
    margin-top: 0;
  }
  .order-form__selection-title {
    width: 170px;
    flex-shrink: 0;
  }
  .order-form__btn {
    width: 230px;
  }
}

@media (min-width: 1150px) {
  .order-form__wrapper {
    max-width: $screen-desktop;
  }
  .order-form__selection-title {
    text-align: center;
  }
  .order-form__selection-inner {
    width: 870px;
    box-sizing: border-box;
    flex-grow: 0;
  }
  .order-form__selection {
    width: 870px;
    box-sizing: border-box;
  }
}
