.order-form {
  margin-bottom: 45px;
}

.order-form__inner {
  margin-bottom: 25px;

  background-color: $color-gray--light;
}

.order-form__wrapper {
  @mixin container;
}

.order-form__description {
  line-height: $line-height;
  color: $color-gray;
}

.order-form__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 80px;

  font-size: $font-size--big;
  font-family: $font-secondary;
  text-align: center;
}

.order-form__description {
  line-height: $line-height;
}

.order-form__selection {
  margin: 30px 0;
  margin-top: 25px;

  &--name {
    margin-bottom: 20px;
  }

  &--phone {
    margin-top: 20px;

    .order-form__selection-title {
      margin-bottom: 5px;
    }
  }

  &--mail {
    .order-form__selection-title {
      margin-bottom: 5px;
    }
  }
}

.order-form__selection-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 16px;
  color: $color-main;
  text-transform: uppercase;
}

.order-form__selection-inner {
  margin-top: 15px;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
}

.order-form__selection label {
  position: relative;

  display: block;

  font-weight: bold;
  font-size: 16px;
  font-family: $font-secondary;

  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.order-form__selection-inner--radio,
.order-form__selection-inner--checkbox {
  label {
    margin-bottom: 20px;

    &:hover::before {
      border-color: $color-main;
    }

    &:active::before {
      border-color: $color-gray;
      opacity: 0.3;
    }
  }
}

.order-form__selection-inner--radio {
  margin-top: 25px;

  label {
    display: flex;
    align-items: center;
    height: 42px;
    padding-left: 65px;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      display: block;
      width: 36px;
      height: 36px;

      border: 2px solid $color-gray;
      border-radius: 50%;
    }
  }

  input[type="radio"] {
    &:checked ~ label::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;

      display: block;
      width: 15px;
      height: 15px;

      background-color: $color-main;
      border-radius: 50%;
    }
  }
}

.order-form__selection-inner--checkbox {
  margin-top: 20px;

  label {
    margin: 2px 0;
    margin-bottom: 24px;
    padding: 10px 0;
    padding-left: 65px;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      display: block;
      width: 35px;
      height: 35px;

      border: 2px solid $color-gray;
    }
  }

  input[type="checkbox"] {
    &:checked ~ label::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 15px;

      display: block;
      width: 8px;
      height: 23px;

      border: 2px solid #000000;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
    }
  }
}

.order-form__selection-inner--name {
  margin-top: 30px;

  label {
    margin-top: 15px;
  }
}

.selection-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 0;

  font-weight: normal;
  font-size: 16px;
  font-family: $font-secondary;
  color: rgba(68, 68, 68, 0.3);

  background: none;
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0;

  &--phone {
    text-transform: uppercase;

    background-image: url(../img/icon-phone.svg);
  }

  &--mail {
    background-image: url(../img/icon-mail.svg);
  }

  &--phone,
  &--mail {
    background-repeat: no-repeat;
    background-position: 98% 50%;
    filter: saturate(0);

    &:hover {
      filter: saturate(1);
    }
  }

  &--fully {
    box-sizing: border-box;
    min-height: 150px;
    margin-top: 10px;
    padding: 15px;

    border: 2px solid #000000;
  }
}

.order-form__btn {
  display: inline-block;
  width: 100%;

  vertical-align: top;

  background-color: #ffffff;
}

.order-form__notice {
  display: none;
  margin-top: 30px;
  margin-bottom: 0;
}

.order-form input,
.order-form textarea {
  color: $color-gray;

  outline: none;
  box-shadow: none;

  &:hover,
  &:focus {
    border-color: $color-main;
  }

  &:invalid {
    border-color: #f0b1b1;
  }
}

@media (--mobile-widths-only) {
  .order-form__selection-title {
    display: flex;
    align-items: center;

    &::after {
      content: "";

      display: block;
      flex-grow: 1;
      width: 185px;
      height: 1px;
      margin-left: 20px;

      background: $color-main;
    }
  }

  .order-form__description br {
    display: none;
  }
}

@media (--tablet-widths) {
  .order-form {
    margin-bottom: 50px;
  }

  .order-form__wrapper {
    align-items: baseline;
  }

  .order-form__inner {
    min-height: 240px;
    margin-bottom: 60px;

    background: $color-gray--light url(../img/bg-zigzag-fill.svg) 0 100% repeat-x;
    background-size: auto 24px;
  }

  .order-form__title {
    margin-bottom: 80px;
    padding-top: 95px;
    padding-bottom: 90px;

    font-size: $tablet-font-size--big;
  }

  .order-form__selection .order-form__wrapper {
    display: flex;
  }

  .order-form__description {
    line-height: $line-height--big;
  }

  .order-form__selection {
    margin: 0;
    padding: 55px 0;

    &--type {
      padding-top: 40px;
      padding-bottom: 35px;

      .order-form__selection-title {
        align-self: flex-start;
        padding-top: 15px;
      }
    }

    &--color {
      padding-bottom: 45px;

      background-color: $color-gray--light;
    }

    &--name {
      padding-top: 35px;
      padding-bottom: 60px;

      .order-form__selection-title {
        align-self: flex-start;
        padding-top: 25px;
      }

      label {
        margin-top: 10px;
      }
    }

    &--phone {
      padding-top: 50px;
      padding-bottom: 10px;

      background-color: $color-gray--light;
    }

    &--mail {
      margin-bottom: 5px;
      padding-top: 0;

      background-color: $color-gray--light;
    }

    &--area {
      padding-bottom: 25px;
    }
  }

  .order-form__selection-title {
    flex-shrink: 0;
    width: 170px;
  }

  .order-form__selection-inner {
    flex-grow: 1;
    margin-top: 0;

    &--radio,
    &--checkbox {
      label {
        padding-left: 80px;
      }
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        box-sizing: border-box;
        width: 240px;
        padding-top: 15px;
      }
    }
  }

  .order-form__selection-inner--name {
    label {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    span {
      flex-shrink: 0;
      margin-right: 25px;
    }
  }

  .order-form__selection label {
    font-size: 18px;
  }

  .selection-field {
    padding-left: 20px;

    font-size: 18px;
  }

  .order-form__selection-inner--radio {
    label {
      height: 54px;

      &::before {
        width: 50px;
        height: 50px;
      }
    }

    input[type="radio"]:checked ~ label::after {
      top: 17px;
      left: 17px;

      width: 20px;
      height: 20px;
    }
  }

  .order-form__selection-inner--checkbox {
    label {
      &::before {
        width: 50px;
        height: 50px;
      }
    }

    input[type="checkbox"]:checked ~ label::after {
      top: 10px;
      left: 20px;

      width: 13px;
      height: 28px;
    }
  }

  .selection-field {
    &--phone,
    &--mail {
      background-position: 95% 50%;
    }

    &--fully {
      margin-top: 0;
    }
  }

  .order-form__footer .order-form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .order-form__btn {
    width: 230px;
    margin: 0;
  }

  .order-form__notice {
    display: block;
  }
}

@media (--desktop-widths) {
  .order-form {
    padding-bottom: 45px;
  }

  .order-form__inner {
    background-size: auto;
  }

  .order-form__title {
    margin-bottom: 105px;
    padding-top: 90px;
    padding-bottom: 120px;

    font-size: $desktop-font-size--big;
  }

  .order-form__description {
    padding-left: 175px;
  }

  .order-form__selection-title {
    width: 175px;

    text-align: center;
  }

  .order-form__selection-inner {
    flex-grow: 0;
    box-sizing: border-box;
    width: 870px;

    &--checkbox label {
        width: 180px;
    }
  }

  .order-form__selection .order-form__wrapper {
    box-sizing: border-box;
    padding-right: 175px;
  }

  .order-form__footer .order-form__wrapper {
    box-sizing: border-box;
    padding-left: 175px;
  }

  .order-form__selection {
    &--name {
      padding-top: 40px;
    }

    &--area {
      padding-bottom: 60px;
    }
  }

  .selection-field {
    &--phone,
    &--mail {
      background-position: 99.5% 50%;
    }
  }

  .order-form__notice {
    margin-right: 175px;
  }
}
