.page-footer {
  text-align: center;
  background-color: $color-gray--light;
}

.page-footer a {
  padding: 10px;
}

.page-footer__wrapper {
  @mixin container;
}

.page-footer__logo {
  display: none;
  width: 200px;
  text-align: left;
}

.page-footer__social-links {
  border-bottom: 1px solid $color-gray--dark;
}

.page-footer__copyright {
  margin: 0;
  padding: 22px 0;
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: bold;
}

.page-footer__copyright-link img {
  padding: 0;
  vertical-align: middle;
}

@media (--tablet-widths) {
  .page-footer__wrapper {
    display: flex;
    height: 143px;
    align-items: center;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
  }
  .page-footer__social-links {
    border: none;
  }
  .page-footer__copyright {
    text-align: right;
  }
}
