.promo {
  background: #f9f9f9 url(../img/hero-mobile@1x.jpg) 50% 0 no-repeat;
}

.promo__wrapper {
  min-width: $screen-mobile;
  max-width: $screen-mobile;
  margin: 0 auto;
}

.promo__title {
  margin: 0;
  padding: 90px 0 125px 0;
  font-family: $font-secondary;
  line-height: $line-height--big;
  text-align: center;
}

.promo__inner--interior {
  background-color: $color-main;
}

.promo__inner--toys {
  background-color: $color-main--dark;
}

.promo__catalog {
  display: block;
  padding: 30px 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: $color-main;

  &--toys {
    background-color: $color-main--dark;
  }
}

@media (min-width: 768px) {
  .promo {
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9 url(../img/hero-desktop@1x.jpg) 50% 0 no-repeat;
  }
  .promo__wrapper {
    max-width: $screen-tablet;
  }
  .promo__buttons {
    display: flex;
    align-items: flex-end;
    max-width: $screen-tablet;
    width: 100%;
  }
  .promo__inner {
    background: none;
    flex-grow: 1;
  }
  .promo__title {
    font-size: 40px;
    line-height: 50px;
  }
  .promo__catalog {
    padding-left: 35px;
  }
}

@media (min-width: 1150px) {
  .promo__wrapper {
    max-width: $screen-desktop;
  }
  .promo__title {
    width: 700px;
    margin: 0 auto;
  }
  .promo__buttons {
    max-width: $screen-desktop;
  }
}
