.promo {
  background: $color-gray--light url(../img/hero-mobile@1x.jpg) 50% 0 no-repeat;
}

.promo__wrapper {
  width: $screen-mobile;
  margin: 0 auto;
}

.promo__title {
  margin: 0;
  padding: 90px 0 125px 0;
  font-family: $font-secondary;
  line-height: $line-height--big;
  text-align: center;
}

.promo__inner--interior {
  background-color: $color-main;
}

.promo__inner--toys {
  background-color: $color-main--dark;
}

.promo__catalog {
  display: block;
  padding: 30px 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: $color-main;

  &--toys {
    background-color: $color-main--dark;
  }
}
