.reviews {
  padding: 20px 0;
  border-bottom: 1px solid $color-gray--light;
}

.reviews__wrapper {
  @mixin container;
}

.reviews__title {
  font-family: $font-secondary;
  font-size: $font-size--big;
}

.reviews__comment {
  margin: 0;
}

.reviews__comment p {
  font-size: ;
  color: $color-gray;
  line-height: $line-height--big;
}

.reviews__author {
  display: inline-block;
  margin: 15px 0;
  font-style: normal;
}

.reviews__author-name {
  display: inline-block;
  margin: 10px 0;
  font-family: $font-secondary;
  font-weight: bold;
}

.reviews__author-address {
  display: block;
}

.reviews__nav-btn {
  margin: 15px 0;
  width: 49.2%;
  height: 50px;
  background: none;
  border: 1px solid $color-gray--light;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  &--prev {
    background: url(../img/icon-left-arrow.svg) 50% no-repeat;
  }
  &--next {
    background: url(../img/icon-right-arrow.svg) 50% no-repeat;
  }
}

@media (--tablet-widths) {
  .reviews {
    padding-top: 40px;
    background: url(../img/review@1x.jpg) no-repeat;
  }
  .reviews__wrapper {
    position: relative;
    min-height: 457px;
  }
  .reviews__title {
    font-size: $tablet-font-size--big;
  }
  .reviews__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .reviews__nav-btn {
    width: 85px;
  }
  .reviews__write {
    width: 170px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  .reviews__nav-btn {
    border: none;
  }
}

@media (--desktop-widths) {
  .reviews {
    padding-top: 10px;
    background: none;
  }
  .reviews__wrapper {
    box-sizing: border-box;
    padding-left: 175px;
    padding-top: 20px;
    background: url(../img/review@1x.jpg) no-repeat;
  }
  .reviews__title {
    font-size: $desktop-font-size--big;
  }
  .reviews__comment p {
    width: 700px;
  }
  .reviews__write {
    top: 15%;
  }
}
