
.social__link {
  padding: 10px;
  text-decoration: none;

    svg {
     padding: 0 10px;
     padding-top: 20px;
     padding-bottom: 25px;
     &:hover {
       fill: $color-main;
     }

     &:active {
       opacity: 0.3;
    }
  }
}

@media (--tablet-widths) {
  .social__link {
    img {
      padding: 0 8px;
    }
  }
}
