.social__link {
  padding: 10px;

  text-decoration: none;
}

.social__link--in {
  svg {
    width: 22px;
    height: 21px;
  }
}

.social__link--fb {
  svg {
    width: 15px;
    height: 28px;
  }
}

.social__link--tw {
  svg {
    width: 23px;
    height: 20px;
  }
}

.social__link svg {
  padding: 0 10px;
  padding-top: 20px;
  padding-bottom: 25px;

  &:hover {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;
  }
}
