$gray: #444444;
$gray-light: #f1f1f1;
$color-main: #63d1bb;

$font-main: 'Open Sans', sans-serif;
$font-secondary: Verdana, Geneva, sans-serif;

$font-size--big: 24px;
$font-size--small: 14px;

$screen-mobile: 260px;
