$color-gray--light: #f1f1f1;
$color-gray: #444444;
$color-gray--dark: #e5e5e5;
$color-main: #63d1bb;
$color-main--dark: #56c3b2;

$font-main: 'Open Sans', Arial, sans-serif;
$font-secondary: Verdana, Geneva, sans-serif;

$font-size--big: 24px;
$font-size--small: 14px;

$tablet-font-size--big: 40px;
$tablet-font-size--small: 14px;

$desktop-font-size--big: 50px;
$desktop-font-size--small: 14px;

$line-height: 24px;
$line-height--big: 30px;

$screen-mobile: 260px;
$screen-tablet: 670px;
$screen-desktop: 1050px;
